body {
  background-color: #f8f8f8;
}
.app {
  text-align: center;
  align-items: center;
}

.app__title {
  color: #771572;
  margin: 40px;
  transform: scale(2);
  font-family: gilroy-extra-bold;
  font-weight: 800;
}

.app__searchInput {
  font-family: gilroy-regular;
  margin: 30px 0;
  background-color: #f0f0f0;
  font-size: 17px;
  padding: .8rem 2rem;
  border-radius: 60px;
  color: #333;
  border: none;
  width: 35vw;
}




.app__searchSubmission {
  position: relative;
  right: 60px;
  top: 1px;
  box-shadow: -4px 0 15px rgba(0,0,0,.1);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg,#c271bd,#8a3585);
  font-size: 18px;
  height: 48px;
  color: #fff;
  border-radius: 60px;
  border: none;
}

.app__filters {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}

.app__search-cards-results {
  margin: 0 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.app__search-card {
  display: inline-grid;
}

.app__searchInput:focus, .app__searchSubmission:focus {
  outline: none;
}
