body {
  background-color: #f8f8f8;
}
.app {
  text-align: center;
}

/* .app__cardContainer {

} */

.app__title {
  color: #771572
}

.app__searchInput {
  font-family: gilroy-regular;
  margin: 20px 0;
  background-color: #f0f0f0;
  font-size: 17px;
  padding: .8rem 2rem;
  border-radius: 60px;
  color: #333;
  border: none;
  width: 35vw;
}

.app__search-cards-results {
  margin: 0 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 8rem!important;
}

.app__search-card {
  display: inline-grid;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}