#dropdown-basic-button {
    background: linear-gradient(-90deg,#c271bd,#8a3585) !important;
    border-radius: 60px;
    border: none;
    margin-top: 20px;
}

#dropdown-basic-button:hover {
    background: #c271bd !important;
    outline: none;
    border: none;
}

.dropdown-menu {
    border-radius: 20px;
}

.dropdown-item:hover {
    transform: scale(1.3);
    border-radius: 60px;
    background: #c271bd
}

.dropdown-item:focus {
    background-color: #8a3585;
}