
.infoCard {    
    width: 300px;
    margin: 30px;
    display: flex;
    background-color: #eee !important;   
    align-items: center;
    border-radius: 2rem !important;
}

.infoCard__title{
    font-weight: 600 !important;
}



.infoCard__ingredients, .infoCard__glass {
    color: black !important;
}

